# General
COMPOSE_PROJECT_NAME=message-broker-stack-dev
TZ=Asia/Jakarta

# Redis
REDIS_PASSWORD=dev_redis_password_change_me
REDIS_MASTER_HOST=redis
REDIS_PORT=6379
REDIS_SENTINEL_PORT=26379
REDIS_MASTER_SET=mymaster

# RabbitMQ
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=dev_rabbitmq_password_change_me
RABBITMQ_DEFAULT_VHOST=app
RABBITMQ_ERLANG_COOKIE=dev_cookie_change_me
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_AMQP_PORT=5672

# Kafka
KAFKA_CLUSTER_ID=abcdefghijklmnopqrstuv
KAFKA_DEFAULT_REPLICATION_FACTOR=1
KAFKA_MIN_INSYNC_REPLICAS=1
KAFKA_NUM_PARTITIONS=3
KAFKA_RETENTION_HOURS=24

# Monitoring
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=dev_grafana_password_change_me
