global
  log stdout format raw local0
  maxconn 4096

defaults
  mode tcp
  timeout connect 5s
  timeout client 1m
  timeout server 1m
  log global

frontend amqp_frontend
  bind *:5672
  default_backend rabbitmq_nodes

backend rabbitmq_nodes
  balance leastconn
  option tcp-check
  tcp-check connect
  server rabbitmq-1 rabbitmq-1:5672 check inter 2s rise 2 fall 3
  server rabbitmq-2 rabbitmq-2:5672 check inter 2s rise 2 fall 3
  server rabbitmq-3 rabbitmq-3:5672 check inter 2s rise 2 fall 3
